<center><h1>Вызвать мастера</h1>
<%= link_to "Диагностика", new_resume_path, class: "btn btn-primary bottom" %>
<%= link_to "Ремонт", new_repair_path, class: "btn btn-primary bottom" %>
<%= link_to "Установка спец. Оборудования", new_equi_path, class: "btn btn-primary bottom" %>
<%= link_to "Устранение протечки", new_leak_path, class: "btn btn-primary bottom" %>
<%= link_to "Устранение перебоев электросети", new_electric_path, class: "btn btn-primary bottom" %>



</center>