<% provide(:title, 'Специалисты') %>
<center>
<h1>Специалисты</h1>
<%= link_to "Диагностика", resumes_index_path, class: "btn btn-primary bottom" %>
<%= link_to "Ремонт", repairs_index_path, class: "btn btn-primary bottom" %>
<%= link_to "Установка спец. Оборудования", equis_index_path, class: "btn btn-primary bottom" %>
<%= link_to "Устранение протечки", leaks_path, class: "btn btn-primary bottom" %>
<%= link_to "Устранение перебоев электросети", electrics_path, class: "btn btn-primary bottom" %>
</center>